.rating
{
  border: none;
  float: left;
}

.rating > input
{
    display: none;
 }

.rating > label:before
{
  margin: 0.3125rem;
  font-size: 2rem;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before
{
  content: "\f089";
  position: absolute;
}

.rating > label
{
  color: #ddd; 
  float: right; 
}

.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 